body {
	background-size: cover;
	background-repeat: no-repeat;
}
.class1 {
	background-image: url('https://i.pinimg.com/originals/83/28/15/8328156f64be106b14493fe117023646.gif');
	font-family: Timmana;
	font-size: 30px;
}
.class2 {
	background-image: url('https://fsmedia.imgix.net/9d/2c/c8/ed/b229/48a4/8afc/d997d7fc94aa/daenerys-targaryen-tyrion-lannister-and-dragonsrhaegal-and-viserion-game-of-thrones.png');
	font-family: Vollkorn SC;
	color: #FFFFFF;
	font-size: 30px;
}
#quoteText {
	position: absolute;
	top: 300px;
	right: 300px;
	width: 900px;
	height: 300px;
}
#quoteButton {
	position: absolute;
	top: 575px;
	right: 150px;
}
#socialMedia {
	padding: 50px;
}
#share {
	color: #FFFFFF;
	font-family: Kalam;
}
h1 {
	font-size: 60px;
}
.fa {
	padding: 12px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}